# Python Code Question :-

#### 1. write a python programm to print "hello world".

In [77]:
phone =(19,("ASCII"),30,31,32,34,35,36)

In [97]:
print("hello world")

hello world

In [98]:
# second method
a = "hello world"
print(a)

hello world

#### 2. write a python programm to add two numbers.

In [143]:
a = 5
b = 5

print("your number a is ",a,"your number b is",b,a+b)

your number a is  5 your number b is 5 10

In [145]:
# second method
a = int(input("Enter your first number :-"))
b = int(input("Enter your second number :"))

    
print("your number 1 and 2 sum is =",a+b)

Enter your first number :- 3
Enter your second number : 10

your number 1 and 2 sum is = 13

#### 3. write a python programm to find the square of a numbers.

In [147]:
a = int(input("Enter a square number :-"))

print("your square of a number is a :- ",a*a)

## a square is 4 by 4

Enter a square number :- 25

your square of a number is a :-  625

In [149]:
# second method
a = float(input("Enter a number to find square os a  number :-"))

square = a ** 2

print("youe square of a number is a :-",square)

Enter a number to find square os a  number :- 3

youe square of a number is a :- 9.0

#### 4. write a python programm to calculate the area of a circle.

In [151]:
a = float(input("Enter a number to find area of a circle :-"))
c = 3.1416

circle = c * a ** 2

print("your area of a circle is a :- ",circle)

Enter a number to find area of a circle :- 25

your area of a circle is a :-  1963.5

In [114]:
# second method
import math
a = float(input("Enter a number to find area of a circle :-"))

area = math.pi * a ** 2

print("your area of a circle is a :-",area)

Enter a number to find area of a circle :- 8

your area of a circle is a :- 201.06192982974676

#### 5. write a python programm to check if a number is even or odd.

In [155]:
a = int(input("Enter your number :-"))
if a % 2 == 0:
    print("your number is even")

else:
    print("your number is odd ")

Enter your number :- 7

your number is odd

#### 6. write a python programm to find the largest of three numbers.

In [161]:
a = int(input("Enter your first number :-"))
b = int(input("Enter your second number :-"))
c = int(input("Enter your third number :-"))

if a > b and a > c:
    print("your number a is grater than number b and c ")
elif b > a and b > c:
    print("your number b is grater than number a and c ")
else:
    print("your number c is grater than number a and b")

Enter your first number :- 5
Enter your second number :- 4
Enter your third number :- 3

your number a is grater than number b and c

#### 7. write a python programm to check if a number is prime.

In [13]:
a = int(input("Enter your number to check prime number :-"))

if a <= 1:
    print(a,"is not prime number ")
else:
    for i in range(2,a):
        if a % i == 0:
            print(a,"is not prime number ")
            break

    else:
        print(a,"is a prime number")

Enter your number to check prime number :- 13

13 is a prime number

In [167]:
a = int(input("Enter a your number to find table"))

for i in range(1,11):
    print(a,i,a*i)

Enter a your number to find table 6

6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
6 10 60

#### 8. write a python progrmm to find the factorial

In [33]:
a = int(input("Enter a number to find factorial :-"))
fact = 1

if a <= 0:
    print("please enter valid number ")
elif a == 0:
    print("0 ! is  1")
else:
    for i in range(1, a+1):
        fact = fact*i
print("your factorial of  ",a,"is",fact)

Enter a number to find factorial :- 5

your factorial of   5 is 120

#### 9. write a python programm to reverse  a string

In [204]:
str = "jevin kanani"

In [206]:
str.split()[::-1]

['kanani', 'jevin']

In [210]:
" ".join(str.split()[::-1])

'kanani jevin'

In [254]:
# second method
a = (input("Enter name"))
b = a[::-1]
print(b)

Enter name jevin

nivej

#### 10.write a python programm to check if a string is a palindrome

In [256]:
a = (input("Enter a name :-"))
b = a[::-1]
if a==b:
    print("your string is palindrome")
else:
    print("your string is not palindrome")

Enter a name :- jevin

your string is not palindrome

#### 11. write a python programm to count the number of vowels in a string.

In [263]:
a = input("Enter a name ")
count = 0
b = "aeiouAEIOU"

for i in a:
    if i in b:
        count += 1

print("number of vowels in the string ",count)

Enter a name  jevin

number of vowels in the string  2

#### 12. write a python programm to find the length of a string.

In [273]:
a = input("Enter a name :-")
print(len(a))

Enter a name :- jevin kanani

12

#### 13. write a python programm to find the sum of digits in a number.

In [55]:
a = input("enter a number :-")
total = 0

for i in a:
    total += int(i)
print("sum of digits :-",total)

enter a number :- 12345

sum of digits :- 15

#### 14. write a ptyhon programm to find the greatest common divisor (GCD) of two numbers.

In [66]:
import math
a = int(input("enter a number :"))
b = int(input("enter a number :"))
c = math.gcd(a,b)
print("greatest common divisor ",c)

enter a number : 88
enter a number : 333

greatest common divisor  1

#### 15. write a python programm to find the least common multiple (LCM) of two numbers.

In [69]:
import math
a = int(input("enter a number :"))
b = int(input("enter a number :"))
c = math.lcm(a,b)
print("least common multiple :-",c)

enter a number : 15
enter a number : 20

least common multiple :- 60

#### 16. write a python programm to swap two numbers witout temporary variable.

In [288]:
a = int(input("Enter a first number :-"))
b = int(input("Enter a second number :- "))

a = a+b
b = a-b
a = a-b

print("After swapping")

print("a=",a)
print("b=",b)

Enter a first number :- 49
Enter a second number :-  356

After swapping
a= 356
b= 49

#### 17. write a python programm to convert celsius to fahrenheit.

In [297]:
a = float(input("Enter a temperature in celsius"))

b = (a * 9/5) +32

print("Temperature in fahrenheit:",b)

Enter a temperature in celsius 25

Temperature in fahrenheit: 77.0

#### 18. write a python programm to convert kilometers to miles.

In [302]:
a = float(input("Enter a distance in kilometers"))

b = 0.621371

c = a * b
print("distance in miles :",c)

Enter a distance in kilometers 10

distance in miles : 6.21371

#### 20. write a python programm to chack if a year is a leap year.

In [315]:
a = int(input("Enter a year :"))

if a%4 == 0 and a%100 != 0 or a%400 == 0:
    print(a,"is a leap year.")

else:
    print(a,"is not a leap year.")

Enter a year : 2024

2024 is a leap year.

#### 21. write a python  programm to sort a list in ascending order.

In [320]:
list = ["apple","cat","banana"]

In [328]:
list.sort()

In [330]:
list

['apple', 'banana', 'cat']

#### 22. write a python programm to find the second largest element in a list.

In [84]:
l1=[]
for i in range(1,5):
    a = int(input("enter a number :-"))
    l1.append(a)
print(l1)

l1.sort(reverse=True)
print("the second largest element is a :-",l1[1])

enter a number :- 5
enter a number :- 8
enter a number :- 9
enter a number :- 6

[5, 8, 9, 6]
the second largest element is a :- 8

#### 23. write a python programm to find the sum of element in a list.

In [372]:
list = [8,5,9,6,3,6,45,2,5,54,41,2,6,5,2,6,5,4,2,2,6,5,12]

In [374]:
a = sum(list)

In [376]:
print(a)

241

#### 24. write a python programm to find the average of numbera in a list

In [389]:
list = [10,20,30,40,50]
if len(list) == 0:
    print("enter a number")
else:
    ave = sum(list) / len(list)
    print("the average is :", ave)

the average is : 30.0

#### 25. write a python programm to count the occurrences of an element in a list.

In [416]:
list = [10,2,545,8784,51,513,46841,31223,48631,32,156,43,1,321,8,4,5,1,8,6,4,468,4]
n = int(input("Enter a number in list:-"))
a = list.count(n)
print(a)

Enter a number in list:- 4

3

#### 26.write a python programm to remove duplicates from a list.

In [95]:
l1=[]
for i in range(1,5):
    a = int(input("enter a number :-"))
    l1.append(a)
print(l1)

b = list(set(l1))

print("after remove a duplicates number :-",b)

enter a number :- 4
enter a number :- 4
enter a number :- 2
enter a number :- 1

[4, 4, 2, 1]
after remove a duplicates number :- [1, 2, 4]

#### 27. write a python programm to merge two dictionaries

In [105]:
a = {
    "name":"jevin"
}

In [107]:
b = {
    "surname":"kanani"
}

In [109]:
merged_dict = {**a,**b}

In [111]:
print("merged dictionary:",merged_dict)

merged dictionary: {'name': 'jevin', 'surname': 'kanani'}

#### 28. write a python programm to find the key with thw maximum value in a dictionary

In [461]:
a = {"a":10,"b":20,"c":25,"d":30}
b = max(a)
print("key with the maximum value is:",b)
print("maximum value is :",a[b])

key with the maximum value is: d
maximum value is : 30

#### 29. write a python programm to check if a key exists in a dictionary

In [466]:
a = {"name":"jevin","age":18,"add":"ahemdabad"}
b = "age"
if b in a:
    print("key is exists in a dictionary")
else:
    print("key is not exists in a dictionary")

key is exists in a dictionary

#### 32. write a python programm to find the minimum and maximum elements in a list.

In [471]:
list = [5,65,68,8,1,5,1,61,4,5,654,31,85,4,321,9,312,5,62,95,6,5]

In [473]:
a = min(list)

In [475]:
b = max(list)

In [477]:
print("minimum number in a list",a)
print("maximum number in a list",b)

minimum number in a list 1
maximum number in a list 654

#### 33. write a python programm to check if a string is an anagram of another strin.

In [113]:
str1 = input("enter a name :-")
str2 = input("enter a name :-")

if sorted(str1)==sorted(str2):
    print("the strings are anagrams :")
else:
    print("the string are not anagrams :")

enter a name :- jevin
enter a name :- kanamni

the string are not anagrams :

#### 34. write a python programm to count the frequency of characters in a string.

In [502]:
a = input("enter a name:")
b = input("enter a frequency characters ")

if b not in a:
    print("chatacters is not found :")
else:
    print(b,"word is count is ",a.count(b))

enter a name: hello
enter a frequency characters  l

l word is count is  2

#### 35. write a python programm to find all uniqe elements in a list.

In [137]:
l1 = []
for i in range(1,11):
    a = input("enter a name :-")
    l1.append(a)
print(l1)

b = list(set(l1))
print("after a list is a :-",b)

enter a name :- 1
enter a name :- 2
enter a name :- 3
enter a name :- 4
enter a name :- 5
enter a name :- 5
enter a name :- 4
enter a name :- 12
enter a name :- 3
enter a name :- 8

['1', '2', '3', '4', '5', '5', '4', '12', '3', '8']
after a list is a :- ['3', '12', '1', '4', '5', '8', '2']

#### 36. write a python to find the intersection of two list.

In [148]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]

a=set(l1)
b=set(l2)

c = a.intersection(b)
print("intersection of two list",c)

intersection of two list {4, 5}

#### 38.write a python programm to check if a list is sorted

In [551]:
l1 = []
for i in range(1,5):
    number = int(input("Enter number"))
    l1.append(number)

l2=sorted(l1)

if l2==l1:
    print("list is sorted")
else:
    print("list is not sorted")

Enter number 12
Enter number 51
Enter number 51
Enter number 35

list is not sorted

#### 39.write a python to generate random numbers within a range

In [566]:
for i in range(1,17):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16