# Set-Based Question

#### 1. write a python to create a set.

In [3]:
set = {1,2,3,4,5}

In [5]:
type(set)

set

In [7]:
set

{1, 2, 3, 4, 5}

#### 2. write a python programm to add an item to a set.

In [10]:
set = {1,2,3,4,5}

In [12]:
set.add(6)

In [14]:
set

{1, 2, 3, 4, 5, 6}

#### 3. write a python programm to remove an item from a set.

In [17]:
set = {1,2,3,4,5,6}

In [19]:
set.remove(6)

In [21]:
set

{1, 2, 3, 4, 5}

#### 4. write a python programm to find the union of two sets.

In [24]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [26]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 5. write a python programm to find the intersection of two sets.

In [29]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [35]:
set1.intersection(set2)

{4, 5}

#### 6. write a python programm to find the difference between two sets.

In [44]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [58]:
set = set1 - set2

In [60]:
print("set1 and set2 differnce is here",set)

set1 and set2 differnce is here {1, 2, 3}

#### 7. write a python programm to check if a set is a subset of another set.

In [69]:
set1 = {1}
set2 = {1,2,3,4,5} 

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2  ")

set1 is a subset of set2

#### 8. write a python programm to check if a set is a superset of another set

In [72]:
set1 = {1,2,3,4,5}
set2 = {2,3,} 

if set1.issuperset(set2):
    print("set1 is a supset of set2")
else:
    print("set1 is not a supset of set2")

set1 is a supset of set2

#### 9.write a python programm to find the symmetric difference of two sets

In [74]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [76]:
set = set1.symmetric_difference(set2)

In [77]:
print("set 1",set1)
print("set 2",set2)
print("symmetric differece is a :-",set)

set 1 {1, 2, 3, 4, 5}
set 2 {4, 5, 6, 7, 8}
symmetric differece is a :- {1, 2, 3, 6, 7, 8}

#### 10. write a python programm to convert a list into a set.

In [2]:
l1 = [1,2,3,4,5]

In [5]:
set1 = set(l1)

In [7]:
print("org list is a :-",l1)
print("convert list is a :-",set1)

org list is a :- [1, 2, 3, 4, 5]
convert list is a :- {1, 2, 3, 4, 5}

#### 11. write a python programm to convert a string into a set of charactres.

In [ ]:
str = "jevin kanani"

In [ ]:
set = set(str)

In [ ]:
print("org list is a :-",str)
print("convert list is a :-",set)

#### 12. write a python programm to find the length of a set.

In [ ]:
set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,5}

In [82]:
print(len(set))

6

#### 13. write a python programm to check if a set is empty

set={1}

if not set:
    print("yes set is empty")
else:
    print("no set is not empty")

#### 14. write a python programm to remove all elements from a set

In [103]:
set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,5}

In [109]:
a = set.clear()

In [113]:
print("all elements are remove in set",a)

all elements are remove in set None

#### 15. write a python programm to find the common elements between two sets

In [118]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {1,5,2,1,4,5,6,9,56,1,1,56,6,49,51,54,1}

In [120]:
a = set1.intersection(set2)

In [122]:
print("your common elements are here",a)

your common elements are here {1, 2, 4, 5, 6, 9}

#### 16. write a python programm to create a set from a string

In [3]:
str = "jevin kanani"

In [5]:
set1 = set(str)

In [7]:
print("create a set from a string :-",set1)

create a set from a string :- {'i', 'a', ' ', 'k', 'n', 'j', 'v', 'e'}

#### 17.write a python programm to remove duplictes from a list using sets.

In [10]:
l1 = [1,2,3,5,2,1,45,2,3,6,2,2,3,6,4,78,9,5,5,8,8,9,5,66,5,2,3,6,5,5,51,56,15,4,65,5,1]

In [12]:
set1 = set(l1)

In [14]:
a = list(set1)

In [16]:
print("org list is a :-",l1)
print("list after remove duplicat number",a)

org list is a :- [1, 2, 3, 5, 2, 1, 45, 2, 3, 6, 2, 2, 3, 6, 4, 78, 9, 5, 5, 8, 8, 9, 5, 66, 5, 2, 3, 6, 5, 5, 51, 56, 15, 4, 65, 5, 1]
list after remove duplicat number [1, 2, 3, 4, 5, 6, 66, 8, 9, 65, 45, 78, 15, 51, 56]

#### 18.write a python programm to find the maximum and minimum in a set

In [19]:
set = {6,4,51,8,4,1,684,8,451,38,41,651,8,48,5,1,321,88}

In [23]:
a = max(set)
b = min(set)

In [25]:
print("maximum number is a :-",a)
print("minimum number is a :-",b)

maximum number is a :- 684
minimum number is a :- 1

#### 19. write a python programm to iterate through a set.

In [30]:
set = {"apple", "banana", "cat", "chair"}

In [34]:
print("iterate thorough a set")
for i in set:
    print(i)

iterate thorough a set
banana
cat
apple
chair

#### 20. write a python programm to check if two sets are disjoint.

In [41]:
set1 = {1,2,3,4,5}
set2 = {8,6,7,8,9}

if set1.isdisjoint(set2):
    print("two sets are disjoint")
else:
    print("two sets are not disjoiny")

two sets are disjoint

#### 21.write a python programm to add mulitiple items to a set.

In [44]:
set ={1,2,3,4}

In [46]:
a = [5]

In [48]:
set.update(a)

In [52]:
print("after update a set ",set)

after update a set  {1, 2, 3, 4, 5}

#### 22. write a python programm to find if an element is present in a set.

In [59]:
set = {1,2,3,4,5,6}

a = 5

if a in set:
    print("yes your element is present in a set")
else:
    print("no your element is not present in a set ")

yes your element is present in a set

#### 23. write a python programm to make a copy of a set.

In [62]:
set = {1,2,3,4,5}

In [64]:
a = set.copy()

In [68]:
print("after a copy in set",a)

after a copy in set {1, 2, 3, 4, 5}

#### 24. write a python programm to update a set with another set.

In [73]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,0}
set1.update(set2)

print("after a update set to view a :-",set1)

after a update set to view a :- {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

#### 25. write a python programm to find the difference between two sets.

In [76]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

a = set1.difference(set2)

print("diffrence between two sets",a)

diffrence between two sets {1, 2, 3}