# Tuple-Based Questions

In [110]:
phone = [2,15]

#### 1. write a python programm to create a tuple

In [4]:
tup = (1,2,3)

In [8]:
print(type(tup))

<class 'tuple'>

#### 3. write a python progeamm to find the length of a tuple

In [14]:
tup = ("apple","cat","jevin","banana")

In [16]:
print(len(tup))

4

#### 4. write a python programm to concatenate two tuples.

In [19]:
tup1 = ("jevin","kanani")
tup2 = ("kanani","jevin")

In [21]:
tup = tup1 + tup2

In [25]:
print("your tup1 is a :-",tup1)
print("your tup2 is a :-",tup2)
print("concatenate two tuples in a ",tup)

your tup1 is a :- ('jevin', 'kanani')
your tup2 is a :- ('kanani', 'jevin')
concatenate two tuples in a  ('jevin', 'kanani', 'kanani', 'jevin')

#### 5. write a python programm to count the occurrence of an element of an element in a tuple.

In [40]:
tup=(1,1,2,5,3,6,2,1,52,3,5,2,4,1,2,5,1,2,3,65,5,4,2,1,2,3,6,5,1,1)

a = int(input("enter a number in tup to count the element"))

b = tup.count(a)

print("your element is a count a ",b)

enter a number in tup to count the element 9

your element is a count a  0

#### 6. write a python programm to check if an element exists in a tuple.

In [53]:
tup=(1,1,2,5,3,6,2,1,52,3,5,2,4,1,2,5,1,2,3,65,5,4,2,1,2,3,6,5,1,1)

a = int(input("enter a number to check if an element exists in a tuple"))

if a in tup:
    print("yes your element",a,"is exists in a tuple")
else:
    print("sorry I can't find your element ",a,"in a tuple")

enter a number to check if an element exists in a tuple 4

yes your element 4 is exists in a tuple

#### 7. write a python programm to find the index of an element in a tuple.

In [63]:
tup = (1,2,3,7,8,9,6,5,4)
a = int(input("enter a number to find index number in a tuple"))

if a in tup:
    b = tup.index(a)
    print("your element index is a ",b)
else:
    print("your element is a not in tuple")

enter a number to find index number in a tuple 1

your element index is a  0

#### 8. write a python programm to create a tuple with a single element.

In [68]:
tup = ("jevin",)

In [70]:
print(type(tup))

<class 'tuple'>

In [72]:
print(tup)

('jevin',)

#### 9. write a python programm to unpack a tuple into variables.

In [75]:
tup = ("jevin",18,"ahemdabad")

name,age,add = tup

print("my name is a ",name)
print("my age is a ",age)
print("my add is a ",add)

my name is a  jevin
my age is a  18
my add is a  ahemdabad

#### 10 write a python programm to find the largest element in a tuple

In [80]:
tup=(1,1,2,5,3,6,2,1,52,3,5,2,4,1,2,5,1,2,3,65,5,4,2,1,2,3,6,5,1,1)

a = max(tup)

print("largest elememt in a tuple :-",a)

largest elememt in a tuple :- 65

#### 11 write a python programm to find smallest element in a tuple

In [83]:
tup=(1,1,2,5,3,6,2,1,52,3,5,2,4,1,2,5,1,2,3,65,5,4,2,1,2,3,6,5,1,1)

a = min(tup)

print("smallest element in a tuple :-",a)

smallest element in a tuple :- 1

#### 12 write a python programm to convert a tuple to a list

In [96]:
tup = ("jevin","kanani")
a = list(tup)
print("original list a ",tup)
print("convert a list",a)

original list a  ('jevin', 'kanani')
convert a list ['jevin', 'kanani']

In [94]:
type(a)

list

#### 13.write a python programm to check if a tuple is empty.

In [103]:
tup=()

if not tup:
    print("your tuple is empty")
else:
    print("your tuple is not empty")

your tuple is empty

#### 14. write a python programm to crate a tuple from a list.

In [108]:
list=[0,1,2,3,4]
a = tuple(list)

print("org list is a :-",list)
print("create tuple list :-",a)

org list is a :- [0, 1, 2, 3, 4]
create tuple list :- (0, 1, 2, 3, 4)

#### 16. write a python programm to iterate through a tuple.

In [115]:
tup = ("apple","banana","cat")

print("items in the tuple :")
for i in tup:
    print(i)

items in the tuple :
apple
banana
cat

#### 17. write a python programm to create a tuple with numbers from 1 to 10

In [118]:
tup = tuple(range(1,11))

In [122]:
print("tuples numbers from 1 to 10 here",tup)

tuples numbers from 1 to 10 here (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#### 18. write a python programm to slice a tuple

In [125]:
tup = ("jevin kanani")

In [133]:
tup[:6]

'jevin '

In [135]:
tup[4:8]

'n ka'

In [137]:
tup[0:]

'jevin kanani'

In [141]:
tup[4:-1]

'n kanan'

#### 19. write a python programm to find the sum of element in a tuple

In [182]:
tup = (1,2,3,4,5)
total = 0
for i in tup:
    total += i
print("tuples",tup)
print("total sum in tuple is ",total)

tuples (1, 2, 3, 4, 5)
total sum in tuple is  15

In [176]:
type(tup)

tuple

#### 20. write a python programm to find the average of number in a tuple

In [9]:
tup = (1,2,3,4,5)

a = int(sum(tup))
b = int(a/len(tup))

print("your average is a :-",b)

your average is a :- 3